<table class="table table-bordered">
        <thead>
        <tr>
            <th>客户姓名</th>
            <th>电话号码</th>
            <th>添加人</th>
            <th>提醒人</th>
            <th>提醒内容</th>
            <th>提醒时间</th>
            <th>提醒状态</th>
            <th>添加时间</th>
            <th>操作</th>
        </tr>
        </thead>
            {% for i in customer_alert %}
            <tr id="customer_{{i.id}}">
                <td>{{i.customer}}</td>
                <td>{{i.phone_number}}</td>
                <td>{{ i.add_user}}</td>
                <td>{{ i.alert_user}}</td>
                <td>{{ i.content}}</td>
                <td>{{ i.alert_time|date:"Y-m-d H:i:s"}}</td>
                <td {% if not i.alert_state %}style="color:red;"{% endif %}>{% if i.alert_state %}已提醒{% else %}未提醒{% endif %}</td>
                <td>{{ i.jointime|date:"Y-m-d H:i:s"}}</td>
                <td><a href="javascript:" onclick="delete_id('{{i.id}}')" ><i class="glyphicon glyphicon-trash"></i>删除</a></td>
            </tr>
            {% endfor %}
        </table>