{% extends 'base.html' %}
{% block customer %}
class="active"
{% endblock %}
{% block customer_active %}in{% endblock %}
{% block body %}
<div class="row">
                    <ol class="breadcrumb">
  <!--<li><a href="{% url 'order_customer_level' %}">客户等级管理</a></li>-->
  <li><a href="{% url 'order_contact' %}">联系方式管理</a></li>
  <!--<li><a href="{% url 'order_contact_add' %}">增加联系方式</a></li>-->
</ol>
                    {%block other%}
                    {% endblock %}
    </div>
{% endblock %}