{% extends 'base.html' %}
{% block customer %}
class="active"
{% endblock %}
{% block customer_active %}in{% endblock %}
{% block body %}
<div class="row bg-box-shadow padding-10 panel panel-default">
	<div class="panel-heading margin-5">
    	<h3 class="panel-title">客户提醒管理</h3>
	</div>
    <form action="" class="form-inline" id="filter" method="post" enctype="multipart/form-data" data-ajax="false">
		  {% csrf_token %}
        <div class="row">
        <!--<div class="col-md-4 form-group">
            <label>地址:<input type="text" name="address" {% if filter.address %} value="{{ filter.address }}"{%else%}value=""{% endif %}></label>
            </div>-->
        <div class="col-md-4 form-group">
            <label>客户名称:<input type="text" name="customer" {% if filter.customer %} value="{{ filter.customer }}"{%else%}value=""{% endif %}></label>
            </div>
        <div class="col-md-4 form-group">
            <label>提醒状态:<input type="radio" name="alert_state" value="True" {% if filter.alert_state == True %} checked{% endif %}/>已提醒
                <input type="radio" name="alert_state" value="False" {% if filter.alert_state == False %} checked{% endif %}/>未提醒
                <input type="radio" name="alert_state" value="All" {% if filter.alert_state == 'All' %} checked{% endif %}/>全部
            </label>
            </div>
        <div class="col-md-4 form-group"><label>提醒人:</label>
        <select name="alert_user">
            {% for i in user_list%}
            <option value="{{i.username}}" {% if filter.alert_user == i.username %}selected{% endif %}>{{i.first_name}}</option>
            {% endfor %}
        </select>
        </div>
            </div>
        <div class="row">
        <div class="col-md-4 form-group">
            <label>开始时间:
                <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2">
                    <input class="form-control" size="16" name="starttime" type="text" value="{{filter.starttime}}" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            <input type="hidden" id="dtp_input1" value="" /><br/></label>
            </div>
			<div class="col-md-4 form-group">
            <label>结束时间:
                <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2">
                    <input class="form-control" size="16" name="endtime" type="text" value="{{ filter.endtime }}" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            <input type="hidden" id="dtp_input2" value="" /><br/></label>
            </div>
			
			<div class="col-md-4 form-group">
	    <button type="SUBMIT" class="btn btn-primary bottom-size">查询</button>
        </div>

        </div>
            <!--</div>
        <div class="row">
        <div class="col-md-4 form-group">
            <label>客户:{{ form.customer }}</label>
            </div>-->
    
    			</form>


    </div>

    <div class="row bg-box-shadow padding-5">
        <div id="table_data">
        <table class="table table-bordered">
        <thead>
        <tr>
            <th>客户姓名</th>
            <th>电话号码</th>
            <th>添加人</th>
            <th>提醒人</th>
            <th>提醒内容</th>
            <th>提醒时间</th>
            <th>提醒状态</th>
            <th>添加时间</th>
            <th>操作</th>
        </tr>
        </thead>
            {% for i in customer_alert %}
            <tr id="customer_{{i.id}}">
                <td>{{i.customer}}</td>
                <td>{{i.phone_number}}</td>
                <td>{{ i.add_user}}</td>
                <td>{{ i.alert_user}}</td>
                <td>{{ i.content}}</td>
                <td>{{ i.alert_time|date:"Y-m-d H:i:s"}}</td>
                <td {% if not i.alert_state %}style="color:red;"{% endif %}>{% if i.alert_state %}已提醒{% else %}未提醒{% endif %}</td>
                <td>{{ i.jointime|date:"Y-m-d H:i:s"}}</td>
                <td><a href="javascript:" onclick="delete_id('{{i.id}}')" ><i class="glyphicon glyphicon-trash"></i>删除</a></td>
            </tr>
            {% endfor %}
        </table>
            </div>
        {% if customer_alert %}
        <ul class="pagination" id="pagination"></ul>
        {% endif %}
        </div>


{% endblock %}
{% block js %}
<script src="/static/js/jquery.twbsPagination.min.js"></script>
<!--ajax——csrf验证-->
<script type="text/javascript">
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>
<script>
    function delete_id(customer_id){
        confirm_ = confirm('确定删除?');
        if(confirm_){
            $.ajax({
                type:"GET",
                url:'{% url 'customer_alert_remove' %}?id='+customer_id,
                success:function(msg){
                    //alert("test order");
                    //all delete is success,this can be execute
                    $("#customer_"+customer_id).remove();
                },
                error:function(msg,status){
                alert("删除失败！");
                }
            });
        }
    };
</script>
{% if customer_alert %}
<script type="text/javascript">
$('#pagination').twbsPagination({
        totalPages: {{ total_page }},
		startPage:{{ current_page }},
        visiblePages: {% if total_page > 4 %}5{% else %}{{ total_page }}{% endif %},
        onPageClick: function (event, page) {
            $.ajax({
            type:"POST",
            url:"{% url 'customer_alert_info' %}",
    data:{
      customer:$("[name='customer']").val(),
    alert_state:{% if filter.alert_state == 'All' %}'All'{% else %}{% if filter.alert_state == True %}'True'
    {% else %}'False'{% endif %}
    {% endif %},
    alert_user:$("[name='alert_user']").val(),
    starttime:$("[name='starttime']").val(),
    endtime:$("[name='endtime']").val(),
    page:page},
    datatype:"html",
    success:
        function(data){
        //$('#table').children().remove();
        //$('#table').append(data)
        //$('#table').empty().append(data)
        $('#table_data').html(data)
    }
            })
            }
    });
</script>
{% endif %}
<!--分页-->
{% endblock%}