{% extends 'base.html' %}
{% block customer %}
class="active"
{% endblock %}
{% block body %}
<div class="container">
    <div class="panel panel-default col-md-8">
        <div class="panel-heading">
        <h3 class="panel-title">我的客户</h3>
        </div>
        <div class="panel-body">

    <form action="" class="form-inline" id="filter" method="post" enctype="multipart/form-data" data-ajax="false">
		  {% csrf_token %}
        <div class="row">
        <div class="col-md-6">
            <label>名称:{% if filter.name %}
                <input type="text" name="name"  value="{{ filter.name }}"/>
            {%else%}
            <input type="text" name="name"  value=""/>
            {% endif %}
            </label></div>
        <div class="col-md-6">
            <label>性别:<select name="sex">
                <option value=""></option>
                {% if filter.sex == True %}<option value="True" selected>
                {% else %}
                <option value="True">
                {% endif %}
                男</option>
                {% if filter.sex == False %}
                <option value="False" selected>
                {% else %}
                    <option value="False">
                {% endif %}
                女</option>
            </select>
                <!--
                <input type="radio" name="sex" value="True" {% if filter.sex == True %} checked{% endif %}/>男
                <input type="radio" name="sex" value="False" {% if filter.sex == False %} checked{% endif %}/>女-->
            </label>
            </div>
            </div>
        <div class="row">
        <div class="col-md-4 form-group">
            <label>客户等级:{{ form.level }}</label>
            </div>
        <div class="col-md-4 form-group">
            <label>出单人:
            {{ form.issuing_person }}</label>
            </div>
            </div>
        <div class="row">
        <div class="col-md-9 form-group">
            <label>开始时间:
                <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="dtp_input1">
                    <input class="form-control" size="16" name="starttime" type="text" value="{{filter.starttime}}" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            <input type="hidden" id="dtp_input1" value="" /><br/></label>
            </div>
            </div>
        <div class="row">
        <div class="col-md-9 form-group">
            <label>结束时间:
                <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="dtp_input2">
                    <input class="form-control" size="16" name="endtime" type="text" value="{{ filter.endtime }}" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            <input type="hidden" id="dtp_input2" value="" /><br/></label>
            </div>
    <div class="col-md-3 form-group">
        <label class="col-md-2 control-label">             </label>
	    <button type="SUBMIT" class="btn btn-primary">查询</button>
        </div>
            </div>
    			</form>
</div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
        <table class="table" id="table">
        <thead>
        <tr>
            <th>姓名</th>
            <th>性别</th>
            <th>客户等级</th>
            <th>出单人</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
            {% for i in customer %}
            <tr>
            <td><a href="#" name="name" data-type="text" data-pk="{{ i.id }}" data-title="输入名称">{{ i.name }}</a></td>
            <td><a href="#" name="sex" class='{{ i.sex }}' data-type="select" data-pk="{{ i.id }}" data-title="性别">{% if i.sex %}男{% else %}女{% endif %}</a></td>
            <td><a href="#" name="level" data-type="select" data-pk="{{ i.id }}" data-title="等级">{{ i.level }}</a></td>
            <td><a href="#" name="issuing_person" data-type="select" data-pk="{{ i.id }}" data-title="出单人">{{ i.issuing_person }}</a></td>
            <td>{{ i.jointime|date:'Y-m-d H:i:s' }}</td>
            <td><a href="{% url 'order_customer_remove' %}?id={{ i.id }}">删除</a></td>
            </tr>
            {% endfor %}
        </table>
        {% if customer%}
        <ul class="pagination" id="pagination"></ul>
        {% endif %}
        </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block js %}
<script src="/static/js/jquery.twbsPagination.min.js"></script>
<!--ajax——csrf验证-->
<script type="text/javascript">
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>
<!--post页码和筛选数据-->

<!--<script type="text/javascript">
$(document).ready(function(){
  $(".next").click(function(){
    $.post("{% url 'my_customer' %}",
    {
      name:$("[name='name']").val(),
    sex:$("[name='sex']").val(),
    level:$("[name='level']").val(),
    user:$("[name='user']").val(),
    issuing_person:$("[name='issuing_person']").val(),
    starttime:$("[name='starttime']").val(),
    endtime:$("[name='endtime']").val(),
    page:$(this).attr('id')},
    function(data,status){
        var data1=data[0].fields.name;
        alert(data1);
    });
  });
});
</script>-->
{% if customer %}
<script type="text/javascript">
$('#pagination').twbsPagination({
        totalPages: {{ total_page }},
		startPage:{{ current_page }},
        visiblePages: {% if total_page > 4 %}5{% else %}{{ total_page }}{% endif %},
        onPageClick: function (event, page) {
            $.ajax({
            type:"POST",
            url:"{% url 'my_customer' %}",
    data:{
      name:$("[name='name']").val(),
    sex:{% if filter.sex %}$("[name='sex']").val(){% else %}''{% endif %},
    level:$("[name='level']").val(),
    issuing_person:$("[name='issuing_person']").val(),
    starttime:$("[name='starttime']").val(),
    endtime:$("[name='endtime']").val(),
    page:page},
    datatype:"html",
    success:
        function(data){
        //$('#table').children().remove();
        //$('#table').append(data)
        //$('#table').empty().append(data)
        $('#table').html(data)
    }
            })
            }
    });
</script>
{% endif %}
<!--分页-->

<script type="text/javascript">
$(document).ready(function() {
    //toggle `popup` / `inline` mode
    $.fn.editable.defaults.mode = 'popup';
    var name1=$("td [name='name']").attr("name");
    $("td [name='name']").editable({
    name:name1,
    url:"{% url 'order_customer_edit' %}"
    }
    );

    var sex1=$("td [name='sex']").attr("name");
    var now_sex=$("td [name='sex']").attr("class")
    $("td [name='sex']").editable({
        value: now_sex,
        name:sex1,
        url:"{% url 'order_customer_edit' %}",
        source: [
              {value: 'True', text: '男'},
              {value: 'False', text: '女'}
           ]
    });

   var level=$("td [name='level']").attr("name");
   var now_level=$("td [name='level']").val();
    $("td [name='level']").editable({
        value: now_level,
        name:level,
        url:"{% url 'order_customer_edit' %}",
        source: [
        {% for i in level %}
              {value: {{i}}, text: '{{i.level}}'},
              {% endfor %}
           ]
    });


    var issuing_person=$("td [name='issuing_person']").attr("name");
   var now_issuing_person=$("td [name='issuing_person']").val();
    $("td [name='issuing_person']").editable({
        value: now_issuing_person,
        name:issuing_person,
        url:"{% url 'order_customer_edit' %}",
        source: [
        {% for i in issuing_person %}
              {value: '{{i}}', text: '{{i.name}}'},
              {% endfor %}
           ]
    });

});
</script>
{% endblock%}