{% extends 'base.html' %}
{% block order %}
class="active"
{% endblock %}
{% block order_active %}in{% endblock %}
{% block body %}
<table data-toggle="table"
       data-query-params="queryParams"
	   data-page-list="[10, 20, 50, 100, 200]"
       data-pagination="true"
       data-search="true"
       data-height="500">
        <thead>
        <tr>
            <th>订单号</th>
            <th>快递单号</th>
            <th>实收金额</th>
            <th>客户</th>
            <th>地址</th>
            <th>手机号码</th>
            <th>出单人</th>
            <th>产品</th>
            <th>订单状态</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
            {% for i in order %}
            <tr>
                <td>{{ i.id }}</td>
            <td>{% if i.delivery_no %}<a href="{% url 'get_order_trace' %}?delivery_no={{i.delivery_no}}" data-toggle="modal" data-target="#traceorder" class="btn btn-default">{{ i.delivery_no }}</a>{% else %}{{ i.delivery_no }}{% endif %}</td>
            <td>{{ i.fact_money }}</td>
            <td>{{ i.customer }}</td>
            <td>{{ i.customer.get_contact_info.0.address}}</td>
                <td>{{ i.customer.get_contact_info.0.phone_number}}</td>
            <td>{{ i.issuing_person }}</td>
            <td>{{ i.product }}</td>
            <td><a href="#" name="state" data-type="select" data-pk="{{ i.id }}" data-title="订单状态">{{ i.state }}</a></td>
                <td>{{ i.jointime|date:'Y-m-d H:i:s' }}</td>
            <td><a href="{% url 'order_remove' %}?id={{ i.id }}" onclick= "return confirm('确定删除?');">
                <i class="glyphicon glyphicon-trash"></i>删除</a>
                {% if i.state.level == 1%}
                <a href="{% url 'alert_sign_order' %}?receiver=admin&order_id={{i.id}}">
                提醒管理员发货</a>
                {% endif %}
            </td>
            </tr>
            {% endfor %}
        </table>
<div class="modal fade" id="traceorder" tabindex="-1" role="dialog" aria-labelledby="traceLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$('body').on('hidden.bs.modal', '.modal', function () {
$(this).removeData('bs.modal');
});
</script>
<script type="text/javascript">
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>

<script type="text/javascript">
$(document).ready(function() {
$(".bootstrap-table").addClass("row bg-box-shadow padding-10 panel panel-default").prepend('<div class="panel-heading margin-5"><h3 class="panel-title">我的订单</h3></div>');
    //toggle `popup` / `inline` mode
    $.fn.editable.defaults.mode = 'popup';

    var state1=$("td [name='state']").attr("name");
   var now_state=$("td [name='state']").val();
    $("td [name='state']").editable({
        value: now_state,
        name:state1,
        url:"{% url 'order_edit' %}",
        source: [
        {% for i in state %}
              {value: '{{i}}', text: '{{i.name}}'},
              {% endfor %}
           ],
        error:
           function(response) {
    if(response.status === 404){return response.responseText;}
    else{
    return response.responseText;}
}
    });
});
</script>


{% endblock %}