{% extends 'stock_other.html' %}
{% block stock %}
          <div class="container">
                        <div class="col-md-6">
                            <strong>产品原料组成信息</strong>
                    <table class="table">
                        <thead>
                        <tr>
                        <th>数量</th>
                        <th>是否运费</th>
                        <th>产品</th>
                        <th>原料</th>
                        <th>操作</th>
                        </tr>
                        <thead>
                    </thead>
                        {% for i in stock_product_data %}
                        <tr>
                        <td>{{ i.quantity }}</td>
                        <td>{{ i.delivery_bill }}</td>
                        <td>{{ i.product }}</td>
                        <td>{{ i.stock }}</td>
                        <td><a href="?id={{ i.id }}">edit</a>,<a href="{% url 'order_stock_product_remove' %}?id={{ i.id }}">remove</a></td>
                        </tr>
                        {% endfor %}
                        </table>
                            </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>产品原料关系增加(修改)</strong>
                        <form action="" method="post">
                            {{ stock_product_form.errors }}
                            {% csrf_token %}
                        <p><label>数量:</label>{{ stock_product_form.quantity }}</p>
                        <p><label>是否运费:</label>{{ stock_product_form.delivery_bill }}</p>
                        <p><label>产品:</label>{{ stock_product_form.product }}<a href="#" data-toggle="modal" data-target="#add_order_customer">add</a></p>
                        <p><label>原料:</label>{{ stock_product_form.stock }}<a href="#" data-toggle="modal" data-target="#add_order_issuing_person">add</a></p>
                        <p><button type="submit" class="btn">确定</button></p>
                        </form>
                        </div>
                    </div>
                </div>
                </div>
{% endblock %}
