{% extends 'base.html' %}
{% block product %}
class="active"
{% endblock %}
{% block product_active %}in{% endblock %}
{% block body %}
<div class="row bg-box-shadow padding-10 panel panel-default">
<div class="panel-heading margin-5">
    	<h3 class="panel-title">产品新增</h3>
	</div>
                        <form action="" method="post">
                            {% csrf_token %}
                        <p><label class="col-md-5 text-align-right">名称:</label>{{ product_form.name }}<label>{{ product_form.errors.name.as_text}}</label></p>
                        <p><label class="col-md-5 text-align-right">价格:</label>{{ product_form.price }}<label>{{ product_form.errors.price.as_text}}</label></p>
                        <p><label class="col-md-5 text-align-right">快递类型:</label>{{ product_form.delivery_type }}<label>{{ product_form.errors.delivery_type.as_text}}</label></p>
						<p><label class="col-md-5 text-align-right">备注:</label>{{ product_form.detail}}<label>{{ product_form.errors.remark.as_text}}</label></p>
                        <p><label class="col-md-5"></label><button type="submit" class="btn btn-primary bottom-size">确定</button></p>
                        </form>
    </div>
{% endblock %}