{% extends 'base.html' %}
{% block customer %}
class="active"
{% endblock %}
{% block customer_active %}in{% endblock %}
{% block body %}
<div class="row bg-box-shadow padding-10 panel panel-default">
	<div class="panel-heading margin-5">
    	<h3 class="panel-title">联系方式管理</h3>
	</div>
    <form action="" class="form-inline" id="filter" method="post" enctype="multipart/form-data" data-ajax="false">
		  {% csrf_token %}
        <div class="row">
        <!--<div class="col-md-4 form-group">
            <label>地址:<input type="text" name="address" {% if filter.address %} value="{{ filter.address }}"{%else%}value=""{% endif %}></label>
            </div>-->
        <div class="col-md-4 form-group">
            <label>手机号码:<input type="text" name="phone_number" {% if filter.phone_number %} value="{{ filter.phone_number }}"{%else%}value=""{% endif %}></label>
            </div>
        <div class="col-md-4 form-group">
            <label>是否默认:<input type="radio" name="default" value="True" {% if filter.default == True %} checked{% endif %}/>是
                <input type="radio" name="default" value="False" {% if filter.default == False %} checked{% endif %}/>否
            </label>
            </div>
            <!--</div>
        <div class="row">
        <div class="col-md-4 form-group">
            <label>客户:{{ form.customer }}</label>
            </div>-->
    <div class="col-md-4 form-group">
	    <button type="SUBMIT" class="btn btn-primary bottom-size">查询</button>
        </div>
            </div>
    			</form>


    </div>

    <div class="row bg-box-shadow padding-5">
        <div id="table_data">
        <table class="table table-bordered" id="table"
                data-toggle="table"
       data-query-params="queryParams"
	   data-page-list="20"
       data-search="true"
       data-order="true"
       data-height="500">
        <thead>
        <tr>
            <th>地址</th>
            <th>手机号码</th>
            <th>是否默认(地址)</th>
            <th>客户</th>
            <th>操作</th>
        </tr>
        </thead>
            {% for i in contact %}
            <tr>
            <td><a href="#" name="address" data-type="text" data-pk="{{ i.id }}" data-title="输入地址">{{ i.address }}</a></td>
            <td><a href="#" name="phone_number" data-type="text" data-pk="{{ i.id }}" data-title="输入手机号码">{{ i.phone_number }}</a></td>
            <td><a href="#" name="default" class='{{ i.default }}' data-type="checklist" data-pk="{{ i.id }}" data-title="是否默认">{% if i.default %}是{% else %}否{% endif %}</a></td>
            <td><!--<a href="#" name="customer" data-type="select" data-pk="{{ i.id }}" data-title="选择客户">-->{{ i.customer }}<!--</a>--></td>
            <td><a href="{% url 'order_contact_remove' %}?id={{ i.id }}"  onclick= "return confirm('确定删除?');">
			<i class="glyphicon glyphicon-trash"></i>删除</a></td>
            </tr>
            {% endfor %}
        </table>
            </div>
        {% if contact%}
        <ul class="pagination" id="pagination"></ul>
        {% endif %}
        </div>


{% endblock %}
{% block js %}
<script src="/static/js/jquery.twbsPagination.min.js"></script>
<!--ajax——csrf验证-->
<script type="text/javascript">
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>

{% if contact %}
<script type="text/javascript">
$('#pagination').twbsPagination({
        totalPages: {{ total_page }},
		startPage:{{ current_page }},
        visiblePages: {% if total_page > 4 %}5{% else %}{{ total_page }}{% endif %},
        onPageClick: function (event, page) {
            $.ajax({
            type:"POST",
            url:"{% url 'order_contact' %}",
    data:{
      address:$("[name='address']").val(),
    default:{% if filter.default %}$("[name='default']").val(){% else %}''{% endif %},
    phone_number:$("[name='phone_number']").val(),
    customer:$("[name='customer']").val(),
    page:page},
    datatype:"html",
    success:
        function(data){
        //$('#table').children().remove();
        //$('#table').append(data)
        //$('#table').empty().append(data)
        $('#table_data').html(data)
    }
            })
            }
    });
</script>
{% endif %}
<!--分页-->

<script type="text/javascript">
$(document).ready(function() {
    //toggle `popup` / `inline` mode
    $.fn.editable.defaults.mode = 'popup';
    var address1=$("td [name='address']").attr("name");
    $("td [name='address']").editable({
    name:address1,
    url:"{% url 'order_contact_edit' %}",
	validate: function(value) {
  if($.trim(value) == '') 
    return '输入的地址不能为空';
}
    }
    );

    var default1=$("td [name='default']").attr("name");
    var now_default=$("td [name='default']").attr("class")
    $("td [name='default']").editable({
        value: now_default,
        name:default1,
        url:"{% url 'order_contact_edit' %}",
        source: [
              {value: 'True', text: '是'},
              {value: 'False', text: '否'}
           ]
    });

    $.fn.editable.defaults.mode = 'popup';
    var phone_number1=$("td [name='phone_number']").attr("name");
    $("td [name='phone_number']").editable({
    name:phone_number1,
    url:"{% url 'order_contact_edit' %}",
	validate: function(value) {
  if($.trim(value).length>"15"||isNaN(value)||$.trim(value).length<"1") 
    return '请输入正确的手机号码';
}
    }
    );

   var customer1=$("td [name='customer']").attr("name");
   var now_customer=$("td [name='customer']").val();
    $("td [name='customer']").editable({
        value: now_customer,
        name:customer1,
        url:"{% url 'order_contact_edit' %}",
        source: [
        {% for i in customer %}
              {value: '{{i}}', text: '{{i.name}}'},
              {% endfor %}
           ]
    });



});
</script>
{% endblock%}