{% extends 'base.html' %}
{% block customer %}
class='active'
{% endblock %}
{% block body %}


                    <div class="row">
                        <div class="col-md-6">
                        <form action="" method="post">
                            {% csrf_token %}
                        {{  contact_form.errors }}
                        <p><label>省:</label><select id="sheng" name="province" ></select>
                            <label>市:</label><select id="shi" name="city"></select>
                            <label>县:</label><select id="xian" name="country"></select>
                            <label>镇或街道</label><select id="xiang" name="street"></select>
                        </p>
                        <p><label>详细地址:</label>{{ contact_form.address }}</p>
                        <p><label>手机号码:</label>{{ contact_form.phone_number }}</p>
                        <p><label>联系人:</label>{{ contact_form.customer }}<a href="{% url 'order_customer' %}" onclick="return showAddAnotherPopup(this)">add</a></p>
                        <p><label>设为默认:</label><input type="checkbox" name='default' value="True"/></p>
                            <p><button type="submit" class="btn">确定</button></p>
                          </form>
                        </div>
                    </div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/address/GlobalProvinces_main.js"></script>
<script type="text/javascript" src="/static/js/address/GlobalProvinces_extend.js"></script>
<script type="text/javascript" src="/static/js/address/initLocation.js"></script>
<script type="text/javascript">

$(function(){initLocation({sheng_val:"",shi_val:"",xian_val:"",xiang_val:""});})

</script>
{% endblock %}