<thead>
        <tr>
            <th>订单号</th>
            <th>快递单号</th>
            <th>实收金额</th>
            <th>客户</th>
            <th>地址</th>
            <th>手机号码</th>
            <th>出单人</th>
            <th>产品</th>
            <th>订单状态</th>
            <th>备注</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
            {% for i in order %}
            <tr>
                <td>{{ i.id }}</td>
            <td>{% if i.delivery_no %}<a href="{% url 'get_order_trace' %}?delivery_no={{i.delivery_no}}" data-toggle="modal" data-target="#traceorder" class="btn btn-default">{{ i.delivery_no }}</a>{% else %}{{ i.delivery_no }}{% endif %}</td>
            <td>{{ i.fact_money }}</td>
            <td>{{ i.customer }}</td>
            <td>{{ i.customer.get_contact_info.0.address}}</td>
                <td>{{ i.customer.get_contact_info.0.phone_number}}</td>
            <td>{{ i.issuing_person }}</td>
            <td>{{ i.product }}</td>
            <td><a href="#" name="state" data-type="select" data-pk="{{ i.id }}" data-title="订单状态">{{ i.state }}</a></td>
            <td><a href="#" name="remark" data-type="text" data-pk="{{ i.id }}" data-title="输入备注">{{ i.remark }}</a></td>
                <td>{{ i.jointime|date:'Y-m-d h:i:s' }}</td>
            <td><a href="{% url 'order_remove' %}?id={{ i.id }}">删除</a></td>
            </tr>
            {% endfor %}
<script type="text/javascript">
$(document).ready(function() {
    //toggle `popup` / `inline` mode
    $.fn.editable.defaults.mode = 'popup';
    var delivery_no1=$("td [name='delivery_no']").attr("name");
    $("td [name='delivery_no']").editable({
    name:delivery_no1,
    url:"{% url 'order_edit' %}"
    }
    );

    var fact_money1=$("td [name='fact_money']").attr("name");
    $("td [name='fact_money']").editable({
        name:fact_money1,
    url:"{% url 'order_edit' %}"
    });

    var remark1=$("td [name='remark']").attr("name");
    $("td [name='remark']").editable({
        name:remark1,
    url:"{% url 'order_edit' %}",
	validate: function(value) {
  if($.trim(value) == '')
    return '输入的备注不能为空';
}
    });

   var customer1=$("td [name='customer']").attr("name");
   var now_customer=$("td [name='customer']").val();
    $("td [name='customer']").editable({
        value: now_customer,
        name:customer1,
        url:"{% url 'order_edit' %}",
        source: [
        {% for i in customer %}
              {value: '{{i}}', text: '{{i.name}}'},
              {% endfor %}
           ]
    });


    var issuing_person=$("td [name='issuing_person']").attr("name");
   var now_issuing_person=$("td [name='issuing_person']").val();
    $("td [name='issuing_person']").editable({
        value: now_issuing_person,
        name:issuing_person,
        url:"{% url 'order_edit' %}",
        source: [
        {% for i in issuing_person %}
              {value: '{{i}}', text: '{{i.name}}'},
              {% endfor %}
           ]
    });

    var product1=$("td [name='product']").attr("name");
   var now_product=$("td [name='product']").val();
    $("td [name='product']").editable({
        value: now_product,
        name:product1,
        url:"{% url 'order_edit' %}",
        source: [
        {% for i in product %}
              {value: '{{i}}', text: '{{i.name}}'},
              {% endfor %}
           ]
    });

    var state1=$("td [name='state']").attr("name");
   var now_state=$("td [name='state']").val();
    $("td [name='state']").editable({
        value: now_state,
        name:state1,
        url:"{% url 'order_edit' %}",
        source: [
        {% for i in state %}
              {value: '{{i}}', text: '{{i.name}}'},
              {% endfor %}
           ]
    });

});
</script>