{% extends 'base.html' %}
{% block customer %}
class="active"
{% endblock %}
{% block customer_active %}in{% endblock %}
{% block body %}

                    <div class="row bg-box-shadow padding-10 panel panel-default">
						<div class="panel-heading margin-5">
							<h3 class="panel-title">客户添加</h3>
						</div>
                        <form action="" method="post" class="margin-15-div">
                            {% csrf_token %}
						
							<div class="col-md-12"><label class="col-md-5 text-align-right">姓名:</label>{{ customer_form.name }}
                                <label>{{ customer_form.errors.name.as_text}}</label></div>
							<div class="col-md-12">
								<label class="col-md-5 text-align-right">性别:</label>
								<label>男<input type="radio" name="sex" value="True"/></label>
								<label>女<input type="radio" name="sex" value="False"/></label>
                                <label>必选</label>
							</div>
							<div class="col-md-12"><label class="col-md-5 text-align-right">等级:</label>{{ customer_form.level }}
                            <label>{{ customer_form.errors.level.as_text}}</label></div>
						
						
							<div class="col-md-12">
							<label class="col-md-5 text-align-right">地址:</label>
							<select id="sheng" name="province" ></select><label>省</label>
								<select id="shi" name="city"></select><label>市</label>
								<select id="xian" name="country"></select><label>县</label>
								<select id="xiang" name="street"></select><label>镇或街道</label>
							</div>
							<div class="col-md-12"><label class="col-md-5 text-align-right">详细地址:</label>{{ customer_form.address }}
                            <label>{{ customer_form.errors.address.as_text}}</label></div>
							<div class="col-md-12"><label class="col-md-5 text-align-right">手机号码:</label>{{ customer_form.phone_number }}
                            <label>{{ customer_form.errors.phone_number.as_text}}</label></div>
						
						<div class="col-md-12"><label class="col-md-5"></label><button type="submit" class="btn btn-primary bottom-size">确定</button></div>
                        </form>
                    </div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/js/address/GlobalProvinces_main.js"></script>
<script type="text/javascript" src="/static/js/address/GlobalProvinces_extend.js"></script>
<script type="text/javascript" src="/static/js/address/initLocation.js"></script>
<script type="text/javascript">

$(function(){initLocation({sheng_val:"",shi_val:"",xian_val:"",xiang_val:""});})

</script>
{% endblock %}