{% extends 'base.html' %}
{% block order %}
class="active"
{% endblock %}
{% block body %}



                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                        <form action="" method="post">
                            {% csrf_token %}
                        {{ order_form.errors }}
                        <p><label>快递单号:</label>{{ order_form.delivery_no }}</p>
                        <p><label>实收金额:</label>{{ order_form.fact_money }}</p>
                        <p><label>联系人:</label>{{ order_form.customer }}<a href="#" data-toggle="modal" data-target="#add_order_customer">add</a></p>
                        <p><label>出单人:</label>{{ order_form.issuing_person }}<a href="#" data-toggle="modal" data-target="#add_order_issuing_person">add</a></p>
                        <p><label>产品:</label>{{ order_form.product }}<a href="#" data-toggle="modal" data-target="#add_order_product">add</a></p>
                        <p><label>订单状态:</label>{{ order_form.state }}<a href="#" data-toggle="modal" data-target="#add_order_state">add</a></p>
                        <p><button type="submit" class="btn">确定</button></p>
                        </form>
                        </div>
                    </div>
                    </div>

{% endblock %}


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->