{% extends 'base.html' %}
{% block head%}
<link href="/static/css/magicsuggest.css" rel="stylesheet">
{% endblock %}
{% block order %}
class="active"
{% endblock %}
{% block order_active %}in{% endblock %}
{% block body %}
<div class="row bg-box-shadow padding-10 panel panel-default">
<div class="panel-heading margin-5">
    	<h3 class="panel-title">订单检索</h3>
	</div>
    <form action="" class="form-inline margin-15-div" id="filter" method="post" enctype="multipart/form-data" data-ajax="false">
		  {% csrf_token %}
        <div class="row">
        <div class="col-md-4 form-group">
            <label>快递单号:<input type="text" class="form-control" name="delivery_no" {% if filter.delivery_no %} value="{{ filter.delivery_no }}"{%else%}value=""{% endif %}></label>
            </div>
        <div class="col-md-4 form-group">
            <label>实收金额:<input type="text" class="form-control" name="fact_money" {% if filter.fact_money %} value="{{ filter.fact_money }}"{%else%}value=""{% endif %}></label>
            </label>
            </div>
        <div class="col-md-4 form-group">
             <label>客户名称:
            <input id="order_customer"  name="customer" type="text" value='' style="width:200px;"/></label>
            </div>
            </div>
		
		<div class="row">
        <div class="col-md-4 form-group">
            <label>产品:
            <input id="order_product" class="form-control" name="product" type="text" value='' style="width:200px;"/></label>
            </div>

        <div class="col-md-4 form-group">
            <label>状态:
            {{ form.state }}</label>
            </div>
		<div class="col-md-4 form-group">
             <label>出单人:
            <input id="order_issuing_person" class="form-control" name="issuing_person" type="text" value='' style="width:200px;"/></label>
            </div>
            </div>
		
        <div class="row">
            <div class="col-md-4 form-group"><label>手机号码:</label>
            <input class="form-control" name="phone_number" type="text" value='{{filter.phone_number}}' />
        </div>
            <div class="col-md-4 form-group"><label>地址:</label>
            <input class="form-control" name="address" type="text" value='{{ filter.address }}'/>
        </div>
		 
            </div>
			
			
        
        <div class="row" style="margin-top: 10px;">
        <div class="col-md-5 form-group">
            <label>开始时间:
                <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2">
                    <input class="form-control" size="16" name="starttime" type="text" value="{{filter.starttime}}" readonly style="width:105px;">
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            <input type="hidden" id="dtp_input1" value="" />
			<select class="add-house-option" name="start_hour">
                {% for i in hour_list %}
                <option value="{{i}}" {% if filter.starthour == i %} selected {% endif %}>{{i}}</option>
                {% endfor %}
			</select>时
			<select class="add-min-option" name="start_minute">{% for i in minute_list %}
                <option value="{{i}}" {% if filter.startminute == i %} selected {% endif %}>{{i}}</option>
                {% endfor %}</select>分</label>
            </div>
        <div class="col-md-5 form-group">
            <label>结束时间:
                <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2">
                    <input class="form-control" size="16" name="endtime" type="text" value="{{ filter.endtime }}" readonly style="width:105px;">
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            <input type="hidden" id="dtp_input2" value="" />
			<select class="add-house-option" name="end_hour">
                {% for i in hour_list %}
                <option value="{{i}}" {% if filter.endhour == i %} selected {% endif %}>{{i}}</option>
                {% endfor %}
            </select>时
			<select class="add-min-option" name="end_minute">
                {% for i in minute_list %}
                <option value="{{i}}" {% if filter.endminute == i %} selected {% endif %}>{{i}}</option>
                {% endfor %}
            </select>分</label>
            </div>
			    <div class="col-md-2 form-group">
	    <button type="SUBMIT" class="btn btn-primary bottom-size">查询</button>
        </div>
            </div>

    			</form>


    </div>
    <div class="row bg-box-shadow padding-5 table-responsive">
        <table class="table table-bordered widthonly" id="table">
        <thead>
        <tr>
            <th>订单号</th>
            <th>快递单号</th>
            <th>实收金额</th>
            <th>客户</th>
            <th>地址</th>
            <th>手机号码</th>
            <th>出单人</th>
            <th>产品</th>
            <th>订单状态</th>
            <th>备注</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
            {% for i in order %}
            <tr id="order_{{i.id}}">
                <td>{{ i.id }}</td>
            <td>{% if i.delivery_no %}<a href="{% url 'get_order_trace' %}?delivery_no={{i.delivery_no}}" data-toggle="modal" data-target="#traceorder" class="btn btn-default">{{ i.delivery_no }}</a>{% else %}{{ i.delivery_no }}{% endif %}</td>
            <td>{{ i.fact_money }}</td>
            <td>{{ i.customer }}</td>
            <td>{{ i.customer.get_contact_info.0.address}}</td>
                <td>{{ i.customer.get_contact_info.0.phone_number}}</td>
            <td>{{ i.issuing_person }}</td>
            <td>{{ i.product }}</td>
            <td><a href="#" name="state" data-type="select" data-pk="{{ i.id }}" data-title="订单状态">{{ i.state }}</a></td>
            <td><a href="#" name="remark" data-type="text" data-pk="{{ i.id }}" data-title="输入备注">{{ i.remark }}</a></td>
                <td>{{ i.jointime|date:'Y-m-d h:i:s' }}</td>
            <td><a href="javascript:" onclick="delete_id('{{i.id}}')" ><!--onclick= "return confirm('确定要删除?');"  {% url 'order_remove' %}?id={{ i.id }}-->
			<i class="glyphicon glyphicon-trash"></i>删除</a></td>
            </tr>
            {% endfor %}
        </table>
        {% if order %}
        <ul class="pagination" id="pagination"></ul>
        {% endif %}
    </div>
<div class="modal fade" id="traceorder" tabindex="-1" role="dialog" aria-labelledby="traceLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/static/js/jquery.twbsPagination.min.js"></script>
<script>
    function delete_id(order_id){
        confirm_ = confirm('确定删除?');
        if(confirm_){
            $.ajax({
                type:"GET",
                url:'{% url 'order_remove' %}?id='+order_id,
                success:function(msg){
                    //alert("test order");
                    //all delete is success,this can be execute
                    $("#order_"+order_id).remove();
                },
                error:function(msg,status){
                if(status=400){
                alert("订单已发货，不能删除！");
                }
                }
            });
        }
    };
</script>
<!--ajax——csrf验证-->
<script type="text/javascript">
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>
<script type="text/javascript">
$('body').on('hidden.bs.modal', '.modal', function () {
$(this).removeData('bs.modal');
});
</script>
<!--post页码和筛选数据-->

<!--<script type="text/javascript">
$(document).ready(function(){
  $(".next").click(function(){
    $.post("{% url 'my_customer' %}",
    {
      name:$("[name='name']").val(),
    sex:$("[name='sex']").val(),
    level:$("[name='level']").val(),
    user:$("[name='user']").val(),
    issuing_person:$("[name='issuing_person']").val(),
    starttime:$("[name='starttime']").val(),
    endtime:$("[name='endtime']").val(),
    page:$(this).attr('id')},
    function(data,status){
        var data1=data[0].fields.name;
        alert(data1);
    });
  });
});
</script>-->
<script src="/static/js/magicsuggest.js"></script>
<script type="text/javascript">
$(function() {
	var order_customer=$('#order_customer').magicSuggest({
		method:'get',
        data:'{% url 'get_all_customer' %}',
        placeholder:'输入客户名称',
		valueField: 'name',
        displayField: 'name'
	});
	{% if filter.customer %}
	order_customer.setValue(['{{filter.customer}}']);
	{% endif %}

	var order_product=$('#order_product').magicSuggest({
		method:'get',
        data:'{% url 'get_all_product' %}',
        placeholder:'输入产品名称',
		valueField: 'name',
        displayField: 'name'
	});
    {% if filter.product %}
	order_product.setValue(['{{filter.product}}']);
	{% endif %}

	var order_issuing_person=$('#order_issuing_person').magicSuggest({
		method:'get',
        data:'{% url 'get_all_issuing_person' %}',
        placeholder:'输入出单人姓名',
		valueField: 'name',
        displayField: 'name'
	});
	{% if filter.issuing_person %}
	order_issuing_person.setValue(['{{filter.issuing_person}}']);
	{% endif %}
});
</script>
{% if order %}

<script type="text/javascript">
$('#pagination').twbsPagination({
        totalPages: {{ total_page }},
		startPage:{{ current_page }},
        visiblePages: {% if total_page > 4 %}5{% else %}{{ total_page }}{% endif %},
        onPageClick: function (event, page) {
            $.ajax({
            type:"POST",
            url:"{% url 'order_info' %}",
    data:{
      delivery_no:$("[name='delivery_no']").val(),
    fact_money:$("[name='fact_money']").val(),
    customer:$("[name='customer']").val(),
    issuing_person:$("[name='issuing_person']").val(),
    product:$("[name='product']").val(),
    state:$("[name='state']").val(),
    starttime:$("[name='starttime']").val(),
    start_hour:$("[name='start_hour']").val(),
    start_minute:$("[name='start_minute']").val(),
    endtime:$("[name='endtime']").val(),
    end_hour:$("[name='end_hour']").val(),
    end_minute:$("[name='end_minute']").val(),
    page:page},
    datatype:"html",
    success:
        function(data){
        //$('#table').children().remove();
        //$('#table').append(data)
        //$('#table').empty().append(data)
        $('#table').html(data)
    }
            })
            }
    });
</script>
{% endif %}
<!--分页-->

<script type="text/javascript">
$(document).ready(function() {
    //toggle `popup` / `inline` mode
    $.fn.editable.defaults.mode = 'popup';
    var delivery_no1=$("td [name='delivery_no']").attr("name");
    $("td [name='delivery_no']").editable({
    name:delivery_no1,
    url:"{% url 'order_edit' %}"
    }
    );

    var fact_money1=$("td [name='fact_money']").attr("name");
    $("td [name='fact_money']").editable({
        name:fact_money1,
    url:"{% url 'order_edit' %}"
    });

    var remark1=$("td [name='remark']").attr("name");
    $("td [name='remark']").editable({
        name:remark1,
    url:"{% url 'order_edit' %}",
	validate: function(value) {
  if($.trim(value) == '') 
    return '输入的备注不能为空';
}
    });

   var customer1=$("td [name='customer']").attr("name");
   var now_customer=$("td [name='customer']").val();
    $("td [name='customer']").editable({
        value: now_customer,
        name:customer1,
        url:"{% url 'order_edit' %}",
        source: [
        {% for i in customer %}
              {value: '{{i}}', text: '{{i.name}}'},
              {% endfor %}
           ]
    });


    var issuing_person=$("td [name='issuing_person']").attr("name");
   var now_issuing_person=$("td [name='issuing_person']").val();
    $("td [name='issuing_person']").editable({
        value: now_issuing_person,
        name:issuing_person,
        url:"{% url 'order_edit' %}",
        source: [
        {% for i in issuing_person %}
              {value: '{{i}}', text: '{{i.name}}'},
              {% endfor %}
           ]
    });

    var product1=$("td [name='product']").attr("name");
   var now_product=$("td [name='product']").val();
    $("td [name='product']").editable({
        value: now_product,
        name:product1,
        url:"{% url 'order_edit' %}",
        source: [
        {% for i in product %}
              {value: '{{i}}', text: '{{i.name}}'},
              {% endfor %}
           ]
    });

    var state1=$("td [name='state']").attr("name");
   var now_state=$("td [name='state']").val();
    $("td [name='state']").editable({
        value: now_state,
        name:state1,
        url:"{% url 'order_edit' %}",
        source: [
        {% for i in state %}
              {value: '{{i}}', text: '{{i.name}}'},
              {% endfor %}
           ],
        error:
           function(response) {
    if(response.status === 404 || response.status === 400){return response.responseText;}
    else{
    return "请求失败";}
}
    });

});
</script>
{% endblock%}