{% extends 'base.html' %}
{% block head%}
<link href="/static/css/magicsuggest.css" rel="stylesheet">
{% endblock %}
{% block order %}
class="active"
{% endblock %}
{% block body %}
<div class="container">
    <form action="" class="form-inline" id="filter" method="post" enctype="multipart/form-data" data-ajax="false">
		  {% csrf_token %}
        <div class="row">
        <div class="col-md-3 form-group">
            <label>快递单号:<input type="text" name="delivery_no" {% if filter.delivery_no %} value="{{ filter.delivery_no }}"{%else%}value=""{% endif %}></label>
            </div>
        <div class="col-md-3 form-group">
            <label>实收金额:<input type="text" name="fact_money" {% if filter.fact_money %} value="{{ filter.fact_money }}"{%else%}value=""{% endif %}></label>
            </label>
            </div>
        <div class="col-md-2 form-group">
            <label>客户:{{ form.customer }}</label>
            </div>
            </div>
        <div class="row">
            <div class="col-md-3 form-group">
            <input id="order_phone_number" class="form-control" name="phone_number" type="text" value='' style="width:100px;" placeholder="手机号码"/>
        </div>
            <div class="col-md-3 form-group">
            <input id="order_address" class="form-control" name="address" type="text" value='' style="width:100px;" placeholder="联系地址"/>
        </div>
            </div>
        <div class="row">
        <div class="col-md-3 form-group">
            <label>出单人:{{ form.issuing_person }}</label>
            </div>

        <div class="col-md-3 form-group">
            <label>产品:
            {{ form.product }}</label>
            </div>

        <div class="col-md-2 form-group">
            <label>状态:
            {{ form.state }}</label>
            </div>
            </div>
        <div class="row">
        <div class="col-md-4 form-group">
            <label>开始时间:
                <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="dtp_input2">
                    <input class="form-control" size="16" name="starttime" type="text" value="{{filter.starttime}}" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            <input type="hidden" id="dtp_input1" value="" /><br/></label>
            </div>
        <div class="col-md-4 form-group">
            <label>结束时间:
                <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="dtp_input2">
                    <input class="form-control" size="16" name="endtime" type="text" value="{{ filter.endtime }}" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            <input type="hidden" id="dtp_input2" value="" /><br/></label>
            </div>
            </div>
    <div class="col-md-4 form-group">
        <label class="col-md-2 control-label">             </label>
	    <button type="SUBMIT" class="btn btn-primary">查询</button>
        </div>
    			</form>


    </div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
        <table class="table" id="table">
        <thead>
        <tr>
            <th>订单号</th>
            <th>快递单号</th>
            <th>实收金额</th>
            <th>客户</th>
            <th>地址</th>
            <th>手机号码</th>
            <th>出单人</th>
            <th>产品</th>
            <th>订单状态</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
            {% for i in order %}
            <tr>
                <td>{{ i.id }}</td>
            <td>{% if i.delivery_no %}<a href="{% url 'get_order_trace' %}?delivery_no={{i.delivery_no}}" data-toggle="modal" data-target="#traceorder" class="btn btn-default">{{ i.delivery_no }}</a>{% else %}{{ i.delivery_no }}{% endif %}</td>
            <td>{{ i.fact_money }}</td>
            <td>{{ i.customer }}</td>
            <td>{{ i.customer.get_contact_info.0.address}}</td>
                <td>{{ i.customer.get_contact_info.0.phone_number}}</td>
            <td>{{ i.issuing_person }}</td>
            <td>{{ i.product }}</td>
            <td><a href="#" name="state" data-type="select" data-pk="{{ i.id }}" data-title="订单状态">{{ i.state }}</a></td>
                <td>{{ i.jointime|date:'Y-m-d h:i:s' }}</td>
            <td><a href="{% url 'order_remove' %}?id={{ i.id }}">删除</a></td>
            </tr>
            {% endfor %}
        </table>
        {% if order %}
        <ul class="pagination" id="pagination"></ul>
        {% endif %}
        </div>
        </div>
    </div>
<div class="modal fade" id="traceorder" tabindex="-1" role="dialog" aria-labelledby="traceLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/static/js/jquery.twbsPagination.min.js"></script>
<!--ajax——csrf验证-->
<script type="text/javascript">
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>
<script type="text/javascript">
$('body').on('hidden.bs.modal', '.modal', function () {
$(this).removeData('bs.modal');
});
</script>
<!--post页码和筛选数据-->

<!--<script type="text/javascript">
$(document).ready(function(){
  $(".next").click(function(){
    $.post("{% url 'my_customer' %}",
    {
      name:$("[name='name']").val(),
    sex:$("[name='sex']").val(),
    level:$("[name='level']").val(),
    user:$("[name='user']").val(),
    issuing_person:$("[name='issuing_person']").val(),
    starttime:$("[name='starttime']").val(),
    endtime:$("[name='endtime']").val(),
    page:$(this).attr('id')},
    function(data,status){
        var data1=data[0].fields.name;
        alert(data1);
    });
  });
});
</script>-->
<script src="/static/js/magicsuggest.js"></script>
<script type="text/javascript">
$(function() {
	$('#order_address').magicSuggest({
		method:'get',
        data:'{% url 'get_contact_address' %}',
		valueField: 'address',
        displayField: 'address'
	});

	$('#order_phone_number').magicSuggest({
		method:'get',
        data:'{% url 'get_contact_phone' %}',
		valueField: 'phone_number',
        displayField: 'phone_number'
	});
});
</script>
{% if order %}

<script type="text/javascript">
$('#pagination').twbsPagination({
        totalPages: {{ total_page }},
		startPage:{{ current_page }},
        visiblePages: {% if total_page > 4 %}5{% else %}{{ total_page }}{% endif %},
        onPageClick: function (event, page) {
            $.ajax({
            type:"POST",
            url:"{% url 'order_info' %}",
    data:{
      delivery_no:$("[name='delivery_no']").val(),
    fact_money:$("[name='fact_money']").val(),
    customer:$("[name='customer']").val(),
    issuing_person:$("[name='issuing_person']").val(),
    product:$("[name='product']").val(),
    state:$("[name='state']").val(),
    starttime:$("[name='starttime']").val(),
    endtime:$("[name='endtime']").val(),
    page:page},
    datatype:"html",
    success:
        function(data){
        //$('#table').children().remove();
        //$('#table').append(data)
        //$('#table').empty().append(data)
        $('#table').html(data)
    }
            })
            }
    });
</script>
{% endif %}
<!--分页-->

<script type="text/javascript">
$(document).ready(function() {
    //toggle `popup` / `inline` mode
    $.fn.editable.defaults.mode = 'popup';
    var delivery_no1=$("td [name='delivery_no']").attr("name");
    $("td [name='delivery_no']").editable({
    name:delivery_no1,
    url:"{% url 'order_edit' %}"
    }
    );

    var fact_money1=$("td [name='fact_money']").attr("name");
    $("td [name='fact_money']").editable({
        name:fact_money1,
    url:"{% url 'order_edit' %}"
    });

   var customer1=$("td [name='customer']").attr("name");
   var now_customer=$("td [name='customer']").val();
    $("td [name='customer']").editable({
        value: now_customer,
        name:customer1,
        url:"{% url 'order_edit' %}",
        source: [
        {% for i in customer %}
              {value: '{{i}}', text: '{{i.name}}'},
              {% endfor %}
           ]
    });


    var issuing_person=$("td [name='issuing_person']").attr("name");
   var now_issuing_person=$("td [name='issuing_person']").val();
    $("td [name='issuing_person']").editable({
        value: now_issuing_person,
        name:issuing_person,
        url:"{% url 'order_edit' %}",
        source: [
        {% for i in issuing_person %}
              {value: '{{i}}', text: '{{i.name}}'},
              {% endfor %}
           ]
    });

    var product1=$("td [name='product']").attr("name");
   var now_product=$("td [name='product']").val();
    $("td [name='product']").editable({
        value: now_product,
        name:product1,
        url:"{% url 'order_edit' %}",
        source: [
        {% for i in product %}
              {value: '{{i}}', text: '{{i.name}}'},
              {% endfor %}
           ]
    });

    var state1=$("td [name='state']").attr("name");
   var now_state=$("td [name='state']").val();
    $("td [name='state']").editable({
        value: now_state,
        name:state1,
        url:"{% url 'order_edit' %}",
        source: [
        {% for i in state %}
              {value: '{{i}}', text: '{{i.name}}'},
              {% endfor %}
           ]
    });

});
</script>
{% endblock%}