{% extends 'base.html' %}
{% block customer %}
class="active"
{% endblock %}
{% block customer_active %}in{% endblock %}
{% block body %}
<div class="row bg-box-shadow padding-10 panel panel-default">
			<div class="panel-heading margin-5">
    	<h3 class="panel-title">客户等级信息</h3>
	</div>
                <div class="col-md-12"  style="text-align:right; margin-bottom:10px;">
                    <a  class="btn btn-primary btn-lg" href="{% url 'order_customer_level_add'%}">
                        <i class="glyphicon glyphicon-plus-sign"></i>新增客户等级</a></div>
                                                <div class="col-md-12">
                                                <table class="table">
                        <thead>
                        <tr>
                            <th>名称</th>
                        <th>等级</th>
                        <th>操作</th>
                        </tr>
                    </thead>
                        {% for i in customer_level_data %}
                        <tr>
                        <td><a href="#" name="name" data-type="text" data-pk="{{ i.id }}" data-title="输入名称">{{ i.name }}</a></td>
                        <td><a href="#" name="level" data-type="select" data-pk="{{ i.id }}" data-title="客户等级">{{ i.level }}</a></td>
                        <td><a href="{% url 'order_customer_level_remove'%}?id={{ i.id }}" onclick= "return confirm('确定删除?');"><i class="glyphicon glyphicon-trash"></i>删除</a></td>
                        </tr>
                        {% endfor %}
                        </table></div>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>
<script type="text/javascript">

$(document).ready(function() {
    //toggle `popup` / `inline` mode
    $.fn.editable.defaults.mode = 'popup';
    var name1=$("td [name='name']").attr("name");
    $("td [name='name']").editable({
    name:name1,
    url:"{% url 'order_customer_level_edit' %}",
    placement:'right',
	validate: function(value) {
  if($.trim(value) == '')
    return '输入的名称不能为空';
}
    }
    );

      var level1=$("td [name='level']").attr("name");
   var now_level=$("td [name='level']").val();
    $("td [name='level']").editable({
        value: now_level,
        name:level1,
        placement:'right',
        url:"{% url 'order_customer_level_edit' %}",
        source: [
              {value: '1', text: '1'},
              {value: '2', text: '2'},
              {value: '3', text: '3'},
              {value: '4', text: '4'},
              {value: '5', text: '5'},
           ]
    });

});

</script>

{% endblock %}