{% extends 'order_other.html' %}

{% block order_other %}
                        <div class="col-md-9">
                    <table class="table">
                        <thead>
                        <tr>
                        <th>订单状态</th>
                        <th>操作</th>
                        </tr>
                        <thead>
                    </thead>
                        {% for i in state_data %}
                        <tr>
                        <td>{{ i.name }}</td>
                        <td><a href="?id={{ i.id }}">edit</a>,<a href="{% url 'order_state_remove' %}?id={{ i.id }}">remove</a></td>
                        </tr>
                        {% endfor %}
                        </table>
                            </div>
                        <div class="col-md-3">
                        <form action="" method="post">
                            {% csrf_token %}
                        <p><label>名称:</label>{{ state_form.name }}</p>
                        <p><button type="submit" class="btn btn-primary bottom-size ">确定</button></p>
                        </form>
                        </div>
{% endblock %}
