{% extends 'base.html' %}
{% block order %}
class="active"
{% endblock %}
{% block order_active %}in{% endblock %}
{% block body %}
                    <div class="row bg-box-shadow padding-10 panel panel-default">
							<div class="panel-heading margin-5">
								<h3 class="panel-title">订单导入</h3>
							</div>
                            <div class="alert alert-warning"><strong>仅支持xls,xlsx</strong><a href="/media/order/test.xlsx" class="btn">模版下载</a></div>
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.errors }}
                        {{ form.as_p }}
                            <p><button type="submit" class="btn btn-primary bottom-size">确定</button></p>
                        </form>
                    </div>




{% endblock %}