{% extends 'base.html' %}
{% block product %}
class="active"
{% endblock %}
{% block body %}
<div class="container">
    <form action="" class="form-inline" id="filter" method="post" enctype="multipart/form-data" data-ajax="false">
		  {% csrf_token %}
        <div class="row">
        <div class="col-md-3 form-group">
            <label>名称:<input type="text" name="name" {% if filter.name %} value="{{ filter.name }}"{%else%}value=""{% endif %}></label>
            </div>
        <div class="col-md-4 form-group">
            <label>开始时间:
                <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="dtp_input2">
                    <input class="form-control" size="16" name="starttime" type="text" value="{{filter.starttime}}" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            <input type="hidden" id="dtp_input1" value="" /><br/></label>
            </div>
            </div>
        <div class="row">
        <div class="col-md-4 form-group">
            <label>结束时间:
                <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="dtp_input2">
                    <input class="form-control" size="16" name="endtime" type="text" value="{{ filter.endtime }}" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            <input type="hidden" id="dtp_input2" value="" /><br/></label>
            </div>
    <div class="col-md-4 form-group">
        <label class="col-md-2 control-label">             </label>
	    <button type="SUBMIT" class="btn btn-primary">查询</button>
        </div>
            </div>
    </form>


    </div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
        <table class="table" id="table">
        <thead>
        <tr>
            <th>名称</th>
            <th>价格</th>
            <th>备注</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
            {% for i in product %}
            <tr>
            <td><a href="#" name="name" data-type="text" data-pk="{{ i.id }}" data-title="输入名称">{{ i.name }}</a></td>
            <td><a href="#" name="price" class='{{ i.price }}' data-type="text" data-pk="{{ i.id }}" data-title="输入价格">{{ i.price }}</a></td>
            <td><a href="#" name="detail" data-type="text" data-pk="{{ i.id }}" data-title="输入备注">{{ i.detail }}</a></td>
                <td>{{ i.jointime|date:'Y-m-d h:i:s' }}</td>
            <td><a href="{% url 'order_product_remove' %}?id={{ i.id }}">删除</a></td>
            </tr>
            {% endfor %}
        </table>
        {% if product %}
        <ul class="pagination" id="pagination"></ul>
        {% endif %}
        </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script src="/static/js/jquery.twbsPagination.min.js"></script>
<!--ajax——csrf验证-->
<script type="text/javascript">
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>


{% if product %}
<script type="text/javascript">
$('#pagination').twbsPagination({
        totalPages: {{ total_page }},
		startPage:{{ current_page }},
        visiblePages: {% if total_page > 4 %}5{% else %}{{ total_page }}{% endif %},
        onPageClick: function (event, page) {
            $.ajax({
            type:"POST",
            url:"{% url 'order_product' %}",
    data:{
      name:$("[name='name']").val(),
    starttime:$("[name='starttime']").val(),
    endtime:$("[name='endtime']").val(),
    page:page},
    datatype:"html",
    success:
        function(data){
        //$('#table').children().remove();
        //$('#table').append(data)
        //$('#table').empty().append(data)
        $('#table').html(data)
    }
            })
            }
    });
</script>
{% endif %}
<!--分页-->

<script type="text/javascript">
$(document).ready(function() {
    //toggle `popup` / `inline` mode
    $.fn.editable.defaults.mode = 'popup';
    var name1=$("td [name='name']").attr("name");
    $("td [name='name']").editable({
    name:name1,
    url:"{% url 'order_product_edit' %}"
    }
    );

    var price1=$("td [name='price']").attr("name");
    $("td [name='price']").editable({
    name:price1,
    url:"{% url 'order_product_edit' %}"
    }
    );

    var detail1=$("td [name='detail']").attr("name");
    $("td [name='detail']").editable({
    name:detail1,
    url:"{% url 'order_product_edit' %}"
    }
    );

});
</script>
{% endblock%}
