{% extends 'base.html' %}
{% block store %}
class="active"
{% endblock %}
{% block store_active %}in{% endblock %}
{% block body %}
<div class="row">
                    <ol class="breadcrumb">
  <li><a href="{% url 'stock_type' %}">原料类型管理</a></li>
  <li><a href="{% url 'stock_channel' %}">原料渠道管理</a></li>
  <li><a href="{% url 'stock_mode' %}">库存方式</a></li>
  <li><a href="{% url 'order_stock_product_add' %}">产品原料关系添加</a></li>
    <li><a href="{% url 'order_stock_product' %}">产品原料关系管理</a></li>
</ol>
                    {%block stock%}
                    {% endblock %}
    </div>
{% endblock %}