{% extends 'base.html' %}
{% block stock %}
class="active"
{% endblock %}
{% block body %}



                <div class="container">
                    <ol class="breadcrumb">
  <li class="active">原料管理</li>
  <li><a href="{% url 'stock_management' %}">库存管理</a></li>
  <li><a href="{% url 'stock_mode' %}">库存方式</a></li>
  <li><a href="{% url 'stock_order_no' %}">订单号管理</a></li>
</ol>
                    <div class="container">
                        <div class="col-md-6">
                    <table class="table">
                        <thead>
                        <tr>
                        <th>名称</th>
                        <th>描述</th>
                        <th>价钱</th>
                        <th>数量</th>
                        <th>原料类别</th>
                        <th>原料渠道</th>
                        <th>添加时间</th>
                        <th>操作</th>
                        </tr>
                        <thead>
                    </thead>
                        {% for i in stock_data %}
                        <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.detail }}</td>
                        <td>{{ i.price }}</td>
                        <td>{{ i.quantity }}</td>
                        <td>{{ i.stock_type }}</td>
                        <td>{{ i.stock_channel }}</td>
                        <td>{{ i.jointime|date:'Y-m-d H:i:s' }}</td>
                        <td><a href="?id={{ i.id }}">edit</a>,<a href="{% url 'stock_remove' %}?id={{ i.id }}">remove</a></td>
                        </tr>
                        {% endfor %}
                        </table>
                            </div>
                    <div class="row">
                        <div class="col-md-5">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ stock_form.errors }}
                        <p><label>名称:</label>{{ stock_form.name }}</p>
                        <p><label>描述:</label>{{ stock_form.detail }}</p>
                        <p><label>价格:</label>{{ stock_form.price }}</p>
                        <p><label>数量:</label>{{ stock_form.quantity }}</p>
                        <p><label>原料类别:</label>{{ stock_form.stock_type }}<a href="#" data-toggle="modal" data-target="#add_stock_type">add</a></p>
                        <p><label>原料渠道:</label>{{ stock_form.stock_channel }}<a href="#" data-toggle="modal" data-target="#add_stock_channel">add</a></p>
                        <p><button type="submit" class="btn">确定</button></p>
                        </form>
                        </div>
                    </div>
                </div>

<div class="modal fade" id="add_stock_type" tabindex="-1" role="dialog"
   aria-labelledby="role1ModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
          <form method="post" action="{% url 'stock_type_add' %}">
         <div class="modal-header">
            <h4 class="modal-title">
               添加新类型
            </h4>
         </div>
         <div class="modal-body">
                {% csrf_token %}
                {{ stock_type }}
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal">关闭
            </button>
            <button type="submit" class="btn btn-primary">
               提交更改
            </button>
         </div>
              </form>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
    </div>

<div class="modal fade" id="add_stock_channel" tabindex="-1" role="dialog"
   aria-labelledby="role1ModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
          <form method="post" action="{% url 'stock_channel_add' %}">
         <div class="modal-header">
            <h4 class="modal-title">
               添加新类型
            </h4>
         </div>
         <div class="modal-body">
                {% csrf_token %}
                {{ stock_channel }}
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal">关闭
            </button>
            <button type="submit" class="btn btn-primary">
               提交更改
            </button>
         </div>
              </form>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
    </div>
{% endblock %}

</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->