{% extends 'stock_other.html' %}
{% block stock%}
                        <div class="col-md-8 box-shadow-style panel-default">
                           
				<div class="panel-heading">
        <h3 class="panel-title">库存方式信息</h3>
        </div>
                    <table class="table">
                        <thead>
                        <tr>
                        <th>方式</th>
                        <th>描述</th>
                        <th>操作</th>
                        </tr>
                        <thead>
                    </thead>
                        {% for i in stock_mode_data %}
                        <tr>
                        <td>{{ i.method }}</td>
                        <td>{{ i.description }}</td>
                        <td><a href="?id={{ i.id }}">edit</a>,<a href="{% url 'stock_mode_remove' %}?id={{ i.id }}">remove</a></td>
                        </tr>
                        {% endfor %}
                        </table>
                            </div>
                        <div class="col-md-4">
			<div class="box-shadow-style panel-default col-md-12">
                            
				<div class="panel-heading">
        <h3 class="panel-title">库存方式增加(修改)</h3>
        </div>
                        <form action="" method="post" class="margin-top">
                            {% csrf_token %}
                        {{ stock_mode_form.errors }}
                        <p><label>方式:</label>{{ stock_mode_form.method }}</p>
                        <p><label>描述:</label>{{ stock_mode_form.description }}</p>
                        <p><button type="submit" class="btn btn-primary">确定</button></p>
                        </form>
                       </div>
                    </div>
{% endblock %}
