{% extends 'base.html' %}
{% block store %}
class="active"
{% endblock %}
{% block store_active %}in{% endblock %}
{% block body %}
<div class="row">
	<div class="col-md-12 panel panel-default" style="moz-box-shadow: 4px 4px 5px #888888;
-webkit-box-shadow: 4px 4px 5px #888888;
box-shadow: 4px 4px 5px #888888;
background: #f8f8f8;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
border-radius: 9px;
}"><div class="panel-heading">
        <h3 class="panel-title">原料检索</h3>
        </div>
    <form action="" class="form-inline" id="filter" method="post" enctype="multipart/form-data" data-ajax="false">
		  {% csrf_token %}
        <div class="row">
        <div class="col-md-12 form-group" style="margin: 10px 0;">
            <label style="width:100%"><span class="col-md-5" style="text-align:right">名称:</span><input type="text" name="name" {% if filter.name %} value="{{ filter.name }}"{%else%}value=""{% endif %}></label>
            </div>
        <div class="col-md-12 form-group">
            <label style="width:100%;"><span class="col-md-5" style="text-align:right;">开始时间:</span>
                <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="dtp_input2">
                    <input class="form-control" size="16" name="starttime" type="text" value="{{filter.starttime}}" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            <input type="hidden" id="dtp_input1" value="" /><br/></label>
            </div>
            </div>
        <div class="row">
        <div class="col-md-12 form-group" style="margin: 10px 0;">
            <label style="width:100%;"><span class="col-md-5" style="text-align:right;">结束时间:</span>
                <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="dtp_input2">
                    <input class="form-control" size="16" name="endtime" type="text" value="{{ filter.endtime }}" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            <input type="hidden" id="dtp_input2" value="" /><br/></label>
            </div>
    <div class="col-md-11 form-group" style="text-align:center">
        <label class="col-md-2 control-label">             </label>
	    <button type="SUBMIT" class="btn btn-primary" style="padding: 6px 39px;">查询</button>
        </div>
            </div>
    </form>

	</div>
    </div>
    <div class="row">
        <div class="col-md-12" style="moz-box-shadow: 4px 4px 5px #888888;
-webkit-box-shadow: 4px 4px 5px #888888;
box-shadow: 4px 4px 5px #888888;
background: #f8f8f8;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
border-radius: 9px;">
        <table class="table" id="table">
        <thead>
        <tr>
            <th>名称</th>
            <th>描述</th>
            <th>价格</th>
            <th>数量</th>
            <th>原料类型</th>
            <th>原料渠道</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
            {% for i in stock %}
            <tr>
            <td><a href="#" name="name" data-type="text" data-pk="{{ i.id }}" data-title="输入名称">{{ i.name }}</a></td>
            <td><a href="#" name="detail" data-type="text" data-pk="{{ i.id }}" data-title="输入描述">{{ i.detail }}</a></td>
            <td><a href="#" name="price"  data-type="text" data-pk="{{ i.id }}" data-title="输入价格">{{ i.price }}</a></td>
            <td><a href="#" name="quantity" data-type="text" data-pk="{{ i.id }}" data-title="输入数量">{{ i.quantity }}</a></td>
                <td><a href="#" name="stock_type" data-type="select" data-pk="{{ i.id }}" data-title="原料类型">{{ i.stock_type }}</a></td>
            <td><a href="#" name="stock_channel" data-type="select" data-pk="{{ i.id }}" data-title="原料渠道">{{ i.stock_channel }}</a></td>
                <td>{{ i.jointime|date:'Y-m-d h:i:s' }}</td>
                <td><a href="{% url 'stock_remove' %}?id={{ i.id }}">删除</a></td>
            </tr>
            {% endfor %}
        </table>
        {% if stock %}
        <ul class="pagination" id="pagination"></ul>
        {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}
<script src="/static/js/jquery.twbsPagination.min.js"></script>
<!--ajax——csrf验证-->
<script type="text/javascript">
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>


{% if stock %}
<script type="text/javascript">
$('#pagination').twbsPagination({
        totalPages: {{ total_page }},
		startPage:{{ current_page }},
        visiblePages: {% if total_page > 4 %}5{% else %}{{ total_page }}{% endif %},
        onPageClick: function (event, page) {
            $.ajax({
            type:"POST",
            url:"{% url 'stock_info' %}",
    data:{
      name:$("[name='name']").val(),
    starttime:$("[name='starttime']").val(),
    endtime:$("[name='endtime']").val(),
    page:page},
    datatype:"html",
    success:
        function(data){
        //$('#table').children().remove();
        //$('#table').append(data)
        //$('#table').empty().append(data)
        $('#table').html(data)
    }
            })
            }
    });
</script>
{% endif %}
<!--分页-->

<script type="text/javascript">
$(document).ready(function() {
    //toggle `popup` / `inline` mode
    $.fn.editable.defaults.mode = 'popup';
    var name1=$("td [name='name']").attr("name");
    $("td [name='name']").editable({
    name:name1,
    url:"{% url 'stock_edit' %}",
	validate: function(value) {
  if($.trim(value) == '') 
    return '输入的名称不能为空';
}
    }
    );

    var detail1=$("td [name='detail']").attr("name");
    $("td [name='detail']").editable({
    name:detail1,
    url:"{% url 'stock_edit' %}",
	validate: function(value) {
  if($.trim(value) == '') 
    return '输入的描述不能为空';
}
    }
    );

    var price1=$("td [name='price']").attr("name");
    $("td [name='price']").editable({
    name:price1,
    url:"{% url 'stock_edit' %}",
	validate: function(value) {
  if($.trim(value) == '') 
    return '输入的价格不能为空';
}
    }
    );

    var quantity1=$("td [name='quantity']").attr("name");
    $("td [name='quantity']").editable({
    name:quantity1,
    url:"{% url 'stock_edit' %}",
	validate: function(value) {
  if($.trim(value) == '') 
    return '输入的数量不能为空';
}
    }
    );

    var stock_type1=$("td [name='stock_type']").attr("name");
   var now_stock_type=$("td [name='stock_type']").val();
    $("td [name='stock_type']").editable({
        value: now_stock_type,
        name:stock_type1,
        url:"{% url 'stock_edit' %}",
        source: [
        {% for i in stock_type %}
              {value: '{{i}}', text: '{{i.type_name}}'},
              {% endfor %}
           ],
	validate: function(value) {
  if($.trim(value) == '') 
    return '输入的原料类型不能为空';
}
    });


    var stock_channel1=$("td [name='stock_channel']").attr("name");
   var now_stock_channel=$("td [name='stock_channel']").val();
    $("td [name='stock_channel']").editable({
        value: now_stock_channel,
        name:stock_channel1,
        url:"{% url 'stock_edit' %}",
        source: [
        {% for i in stock_channel %}
              {value: '{{i}}', text: '{{i.company}}'},
              {% endfor %}
           ],
	validate: function(value) {
  if($.trim(value) == '') 
    return '输入的原料渠道不能为空';
}
    });


});
</script>
{% endblock%}
