<thead>
        <tr>
            <th>出／入库</th>
            <th>产品</th>
            <th>模式</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
            {% for i in stock_management %}
            <tr>
            <td><a href="#" name="stock_mode" class="{{ i.stock_mode }}"data-type="checklist" data-pk="{{ i.id }}" data-title="选择出入库">{{i.stock_mode}}</a></td>
                <td><a href="#" name="product" data-type="select" data-pk="{{ i.id }}" data-title="产品">{{ i.product }}</a></td>
            <td><a href="#" name="mode" data-type="select" data-pk="{{ i.id }}" data-title="模式">{{ i.mode }}</a></td>
                <td>{{ i.jointime|date:'Y-m-d h:i:s' }}</td>
                <td><a href="{% url 'stock_management_remove' %}?id={{ i.id }}">删除</a></td>
            </tr>
            {% endfor %}
<script type="text/javascript">
$(document).ready(function() {
    //toggle `popup` / `inline` mode
    $.fn.editable.defaults.mode = 'popup';
    var stock_mode1=$("td [name='stock_mode']").attr("name");
    var now_stock_mode=$("td [name='stock_mode']").attr("class")
    $("td [name='stock_mode']").editable({
        value: now_stock_mode,
        name:stock_mode1,
        url:"{% url 'stock_management_edit' %}",
        source: [
              {value: 'True', text: '出'},
              {value: 'False', text: '入'}
           ]
    });



    var product1=$("td [name='product']").attr("name");
   var now_product=$("td [name='product']").val();
    $("td [name='product']").editable({
        value: now_product,
        name:product1,
        url:"{% url 'stock_management_edit' %}",
        source: [
        {% for i in product %}
              {value: '{{i}}', text: '{{i.name}}'},
              {% endfor %}
           ]
    });


    var mode1=$("td [name='mode']").attr("name");
   var now_mode=$("td [name='mode']").val();
    $("td [name='mode']").editable({
        value: now_mode,
        name:mode1,
        url:"{% url 'stock_management_edit' %}",
        source: [
        {% for i in stock_mode %}
              {value: '{{i}}', text: '{{i.method}}'},
              {% endfor %}
           ]
    });


});
</script>