{% extends 'stock_other.html' %}
{% block stock%}

                        <div class="col-md-8 box-shadow-style panel-default">
                    
<div class="panel-heading">
        <h3 class="panel-title">原料类型信息</h3>
        </div>
                    <table class="table">
                        <thead>
                        <tr>
                        <th>名称</th>
                        <th>操作</th>
                        </tr>
                        <thead>
                    </thead>
                        {% for i in stock_type_data %}
                        <tr>
                        <td>{{ i.type_name }}</td>
                        <td><a href="?id={{ i.id }}">修改</a>,<a href="{% url 'stock_type_remove' %}?id={{ i.id }}">删除</a></td>
                        </tr>
                        {% endfor %}
                        </table>
                            </div>
                    
                    
                        
			<div class="col-md-4">
			<form action="" method="post" class="box-shadow-style panel-default col-md-12" style="pading:15px;">
                            {% csrf_token %}
                        <div class="panel-heading">
        <h3 class="panel-title">原料类型增加(修改)</h3>
        </div>
                        {{ stock_type_form.errors }}
                        <p style="margin-top:17px;"><label>名称:</label>{{ stock_type_form.type_name }}</p>
                        <p><button type="submit" class="btn btn-primary">确定</button></p>
                        </form>
                       
                    </div>

{% endblock %}