<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% block title %}
    {% endblock %}
    <!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <![endif]-->
    {% block head %}
    {% endblock %}

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
<div class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="#">订单管理系统</a>
   </div>
   <div>
       {% if user.is_active %}
       <p class="navbar-text navbar-right">{{ user }}
         <a href="/logout" class="navbar-link">logout</a>
      </p>
       {% endif %}
       {% block form%}
       {% endblock %}
   </div>
</div>
<div class="container">
<div class="col-md-3">
<ul class="nav nav-pills nav-stacked">
   <li {% block home %}{% endblock %}><a href="/home">主页</a></li>
   <li {% block role %}{% endblock %}><a href="/role">角色管理</a></li>
   <li {% block stock %}{% endblock %}><a href="/stock/home">原料管理</a></li>
   <li {% block order %}{% endblock %}><a href="/order/home">订单管理</a></li>
</ul>
</div>
<div class="col-md-9">
{% block body %}
{% endblock %}
</div>
</div>




<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
{% block js %}
{% endblock js %}
  </body>
</html>