{% extends 'base.html' %}
{% load math_tag %}
{% block head%}
<style>
.bg-red{ background:#FC8474;}
.bg-green{ background:#488A48;}
.bg-yellow{background:#E7C45C;}
ul{width:100%;}
ul li{text-align:center; margin-top:5px;}
.mini-box{min-height:85px;padding:7px 0;}
.mini-box:hover{ border-color:blue;}
.mini-box .box-icon{display:inline-block;width:70px;height:70px;line-height:70px;vertical-align:middle;text-align:center;font-size:35px;border-radius:2px}
.mini-box .box-icon.rounded{border-radius:50%}
.mini-box .btn-icon{font-size:19px}
.mini-box .btn-icon-b{font-size:32px}
.mini-box .box-info{display:inline-block;vertical-align:top; margin-top:8px;}
.mini-box .box-info p{margin:0}
.btn-icon{display:inline-block;text-align:center;border-radius:2px;height:35px;width:35px;line-height:35px}
.btn-icon-round{border-radius:50%}
.btn-icon-lg-alt{height:40px;width:40px;line-height:44px}
.btn-icon-lg-alt-b{height:60px;width:60px;line-height:70px}
.bg-success{background-color:#F2FBEC}
a.bg-success:hover{background-color:#d5f2c2}
.bg-success{background-color:white;color:black;}
.size-h2{font-size:20px} 
.text-muted{color:red;}
.size-h4{font-size:18px}
.clear-margin{ margin:0;}
table th{ text-align:center;}
.mini-box .margin-style p{margin-left: 3px;font-size: 26px;margin-top: 13px;}
.font-20{ font-size:20px;}
.table-head{background-color: #FAFAFA;background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#E6E6E6));
background-image: -webkit-linear-gradient(top,white,#E6E6E6);
background-image: -o-linear-gradient(top,white,#E6E6E6);
background-image: linear-gradient(to bottom,white,#E6E6E6);
background-image: -moz-linear-gradient(top,white,#E6E6E6);
background-repeat: repeat-x;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
border-bottom: 1px solid rgba(0, 0, 0, 0.15);
height: 37px;
margin-bottom: -1px;
line-height:37px;
}
.margin-top6 .text-muted{ margin-top:6px;}
.table{ margin-bottom:0;}
.table>tbody>tr>td{ padding:16px;}
</style>
{% endblock %}
{% block home %}
class="active"
{% endblock %}
{% block action_active %}in{% endblock %}
{% block form %}
{% if user.is_active == False %}

<form class="navbar-form navbar-right" method="post" action="/login/" role="login">
    {% csrf_token %}
    <div class="form-group">
            <input type="text" class="" id="username" name="username" placeholder="Username"/>
         </div>
           <div class="form-group">
               <input type="password" class="" id="password" name="password" placeholder="Password"/>
               </div>
         <button type="submit" class="btn btn-default">登陆</button>
      </form>
{% endif %}
{% endblock %}
{% block body %}
<div class="row bg-box-shadow padding-10 panel panel-default">
	<div class="panel-heading margin-5">
        <h3 class="panel-title">{% if user.is_superuser %}总体销售情况{% else %}本人销售情况{% endif %}</h3>
	</div>
	<ul class="nav ">
		<li class="col-md-4 col-xs-6">
			<div class="panel mini-box bg-red clear-margin">
				<span class="btn-icon btn-icon-round btn-icon-lg-alt-b bg-success btn-icon-b">
                  <i class="glyphicon glyphicon-cog" style="margin:0;"></i>
                </span>
                <div class="box-info margin-style">
                    <p class="size-h2">{{user.get_this_today.1}}</p>
                </div>
				<div class="text-muted font-20">本日出单量</div>
            </div>
		</li>
		<li class="col-md-4 col-xs-6">
			<div class="panel mini-box bg-green clear-margin">
				<span class="btn-icon btn-icon-round btn-icon-lg-alt-b bg-success btn-icon-b">
				  <i class="glyphicon glyphicon-tasks" style="margin:0;"></i>
				</span>
				<div class="box-info margin-style">
					<p class="size-h2">{{user.get_this_week.1}}</p>
				</div>
				<div class="text-muted font-20">本周出单量</div>
			</div>
		</li>
		<li class="col-md-4 col-xs-6">
			<div class="panel mini-box bg-yellow clear-margin">
				<span class="btn-icon btn-icon-round btn-icon-lg-alt-b bg-success btn-icon-b">
				  <i class="glyphicon glyphicon-music" style="margin:0;"></i>
				</span>
				<div class="box-info margin-style">
					<p class="size-h2">{{user.get_this_month.1}}</p>
				</div>
				<div class="text-muted font-20">本月出单量</div>
			</div>
		</li>
		<li class="col-md-4 col-xs-6">
			<div class="panel mini-box bg-red clear-margin">
				<span class="btn-icon btn-icon-round btn-icon-lg-alt-b bg-success btn-icon-b">
				  <i class="glyphicon glyphicon-cog" style="margin:0;"></i>
				</span>
				<div class="box-info margin-style">
					<p class="size-h2">{{user.get_this_today.0}}</p>
				</div>
				<div class="text-muted font-20">本日销售额</div>
			</div>
		</li>
		<li class="col-md-4 col-xs-6">
			<div class="panel mini-box bg-green clear-margin">
				<span class="btn-icon btn-icon-round btn-icon-lg-alt-b bg-success btn-icon-b">
				  <i class="glyphicon glyphicon-tasks" style="margin:0;"></i>
				</span>
				<div class="box-info margin-style">
					<p class="size-h2">{{user.get_this_week.0}}</p>
				</div>
				<div class="text-muted font-20">本周销售额</div>
			</div>
		</li>
		<li class="col-md-4 col-xs-6">
			<div class="panel mini-box bg-yellow clear-margin">
				<span class="btn-icon btn-icon-round btn-icon-lg-alt-b bg-success btn-icon-b">
				  <i class="glyphicon glyphicon-music" style="margin:0;"></i>
				</span>
				<div class="box-info margin-style">
					<p class="size-h2">{{user.get_this_month.0}}</p>
				</div>
				<div class="text-muted font-20">本月销售额</div>
			</div>
		</li>
	</ul>
</div>
<div class="row bg-box-shadow padding-10 panel panel-default" style="clear:both;">
	<div class="panel-heading margin-5">
        <h3 class="panel-title">总体签收情况</h3>
	</div>
	<ul class="nav">
		<li class="col-md-4 col-xs-12">
			<table class="table table-bordered table-striped table-hover" style="text-align:left;">
			  <tr>
				<td>本周签收率：{{user.get_this_week_success}}</td>
			  </tr>
			  <tr>
				<td>上周签收率：{{user.get_last_week_success}}</td>
			  </tr>
			  <tr>
				<td>本月签收率：{{user.get_this_month_success}}</td>
			  </tr>
			  <tr>
				<td>上月签收率：{{ user.get_last_week_success}}</td>
			  </tr>
			</table>
		</li>
		<li class="col-md-4 col-xs-12">
			<div class="panel mini-box bg-green clear-margin" style="margin-bottom:5px;">
				<span class="btn-icon btn-icon-round btn-icon-lg-alt-b bg-success btn-icon-b">
                  <i class="glyphicon glyphicon-tasks" style="margin:0;"></i>
                </span>
                <div class="box-info margin-style">
                    <p class="size-h2">{{ user.get_week_order.0}}</p>
                </div>
				<div class="text-muted font-20">本周签收量</div>
            </div>
			<div class="panel mini-box bg-green clear-margin">
				<span class="btn-icon btn-icon-round btn-icon-lg-alt-b bg-success btn-icon-b">
                  <i class="glyphicon glyphicon-tasks" style="margin:0;"></i>
                </span>
                <div class="box-info margin-style">
                    <p class="size-h2">{{ user.get_week_order.1}}</p>
                </div>
				<div class="text-muted font-20">本周签收额</div>
            </div>
		</li>
		<li class="col-md-4 col-xs-12">
			<div class="panel mini-box bg-yellow clear-margin" style="margin-bottom:5px;">
				<span class="btn-icon btn-icon-round btn-icon-lg-alt-b bg-success btn-icon-b">
                  <i class="glyphicon glyphicon-music" style="margin:0;"></i>
                </span>
                <div class="box-info margin-style">
                    <p class="size-h2">{{ user.get_month_order.0}}</p>
                </div>
				<div class="text-muted font-20">本月签收量</div>
            </div>
			<div class="panel mini-box bg-yellow clear-margin">
				<span class="btn-icon btn-icon-round btn-icon-lg-alt-b bg-success btn-icon-b">
                  <i class="glyphicon glyphicon-music" style="margin:0;"></i>
                </span>
                <div class="box-info margin-style">
                    <p class="size-h2">{{ user.get_month_order.1}}</p>
                </div>
				<div class="text-muted font-20">本月签收额</div>
            </div>
		</li>
	</ul>
</div>
<div class="row bg-box-shadow padding-10 panel panel-default" style="clear:both;">
	<div class="panel-heading margin-5">
        <h3 class="panel-title">排名情况</h3>
	</div>
	<ul class="nav ">
		<li class="col-md-4 col-xs-12">
			<div class="table-head">月度小组销售额排名</div>
			<table class="table table-bordered table-striped">		
				<thead>
				<tr>								
					<th>销售组名称</th>
					<th>销售额</th>
					<th>排名</th>								
				</tr>
				</thead>
				<tbody>
						{% for i in user.get_team_rank %}
					<tr>
						<td>{{i.name}}</td>
                        <td>{{ i.money}}</td>
                        <td>{{ forloop.counter }}</td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
		</li>
		<li class="col-md-4 col-xs-12">
			<div class="table-head">个人出单量排名</div>
			<table class="table table-bordered table-striped">		
				<thead>
				<tr>								
					<th>所在销售组</th>
					<th>姓名</th>
                    <th>出单量</th>
					<th>排名</th>								
				</tr>
				</thead>
				<tbody>
                {% for i in user.person_quantity_rank %}
					<tr>
						<td>{{i.customer__user.get_group_name}}</td>
                        <td>{{ i.customer__user.first_name}}</td>
                        <td>{{ i.quantity }}</td>
                        <td>{{ forloop.counter }}</td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
		</li>
		<li class="col-md-4 col-xs-12">
			<div class="table-head">个人销售额排名</div>
			<table class="table table-bordered table-striped">		
				<thead>
				<tr>								
					<th>所在销售组</th>
					<th>姓名</th>
                    <th>销售额</th>
					<th>排名</th>
				</tr>
				</thead>
				<tbody>
					{% for i in user.person_money_rank %}
					<tr>
						<td>{{i.customer__user.get_group_name}}</td>
                        <td>{{ i.customer__user.first_name}}</td>
                        <td>{{ i.money }}</td>
                        <td>{{ forloop.counter }}</td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
		</li>
	</ul>
</div>

<div class="row bg-box-shadow padding-10 panel panel-default">
	<div class="panel-heading margin-5">
        <h3 class="panel-title">其他</h3>
	</div>
	<ul class="nav ">
		<li class="col-md-6 col-xs-12">
			<div class="table-head">问题件</div>
			<table class="table table-bordered table-striped"
                    id="table"
                data-toggle="table"
       data-query-params="queryParams"
	   data-page-list="5"
       data-search="true"
       data-order="true"
       data-height="300">
				<thead>
				<tr>								
					<th>订单编号</th>
					<th>订单金额</th>
                    <th>订单状态</th>
					<th>下单时间</th>								
				</tr>
				</thead>
				<tbody>
					{% for i in user.get_failed_order %}
					<tr>
						<td>{{i.id }}</td>
                        <td>{{ i.product.price }}</td>
                        <td>{{ i.state.name}}</td>
                        <td>{{ i.jointime|date:'Y-m-d H:i:s' }}</td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
		</li>
		<li class="col-md-6 col-xs-12">
			<div class="table-head">待审核订单</div>
			<table class="table table-bordered table-striped"
                    id="table"
                data-toggle="table"
       data-query-params="queryParams"
	   data-page-list="5"
       data-search="true"
       data-order="true"
       data-height="300">
				<thead>
				<tr>								
					<th>订单编号</th>
					<th>订单金额</th>
					<th>下单时间</th>								
				</tr>
				</thead>
				<tbody>
					{% for i in user.get_no_approval_order %}
					<tr>
						<td>{{i.id }}</td>
                        <td>{{ i.product.price }}</td>
                        <td>{{ i.jointime|date:'Y-m-d H:i:s' }}</td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
		</li>
	</ul>
</div>

{% endblock %}


