{% extends 'base.html' %}
{% block form %}
<form class="navbar-form navbar-right" method="post" action="/login/" role="login">
    {% csrf_token %}
    <div class="form-group">
            <input type="text" class="" id="username" name="username" placeholder="Username"/>
         </div>
           <div class="form-group">
               <input type="password" class="" id="password" name="password" placeholder="Password"/>
               </div>
         <button type="submit" class="btn btn-default">登陆</button>
      </form>
{% endblock %}
