<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<title>登陆</title>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.221.css">
<link rel="stylesheet" type="text/css" href="/static/css/typica-login.css">
</head>

<body>
<!--<div class="navbar navbar-default" role="navigation" style="z-index: 1000;position: fixed;">
   <div class="navbar-header col-md-6 col-xs-6">
      <a class="navbar-brand" href="#">订单管理系统</a>
   </div>
   <div class="colmd-6 col-xs-6 text-align-right">
       {% if user.is_active %}
       <p class="navbar-text navbar-right" style="margin-right:20px;">{{ user }}
         <a href="/logout" class="navbar-link">logout</a>
      </p>
       {% endif %}
       {% block form%}
       {% endblock %}
   </div>
</div>-->
<div class="bg">
	<div class="container">

        <div id="login-wraper">
            <form class="form login-form" method="post" action="/login/" role="login">
                {% csrf_token %}
				<legend style="font-size:26px;">订单管理系统/用户登陆</legend>
				
                <div class="body">
                    <label style="display:block;">用户名</label>
                    <input type="text" name="username">
                
                    <label style="display:block;">密码</label>
                    <input type="password" name="password">
                </div>
            
                <div class="footer">    
                    <button type="submit" class="btn btn-success">登陆</button>
                </div>
            
            </form>
        </div>

    </div>
</div>

</body>
</html>
