{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/style.min.css"/>

{% endblock %}
{% block role %}
class="active"
{% endblock %}
{% block role_active %}in{% endblock %}
{% block body %}
			<div class="row">
                <div class="col-md-6"></div><div class="col-md-3"><button class="btn btn-primary btn-lg" data-toggle="modal"
   data-target="#role_add">新增角色</button></div>
                            {% if user.is_superuser %}
                                            <div class="row">
                                                <div class="col-md-6">
                                                <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                <th>名称</th>
                                                <th>编辑</th>
                                                <th>删除</th>
                                                </tr>
                                                </thead>
                                                    {% for k in group %}
                                                    <tr>
                                                        <td>{{k.name}}</td>
                                                        <td><a href="{% url 'role_name_edit' k.id %}" data-toggle="modal" data-target="#role_add">修改</a></td>
                                                        <td><a href="{% url 'role_name_remove' %}?id={{ k.id }}">删除</a></td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>
                                                    </div>
                                                </div>
								{% endif %}
						</div>

<div class="modal fade" id="role_add" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
          <form action="{% url 'role_name_add' %}" name="role_form" method="post" onsubmit="submit_authchecked()">
              {% csrf_token %}
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               添加角色
            </h4>
         </div>
         <div class="modal-body">
            <p><label>角色名称:</label>{{ group_form.name }}</p>
			<div id="authtree"></div>

            <input type="hidden" name="authchecked" id="authchecked" value="">
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal">关闭
            </button>
            <button type="sumbit" name="authsumbit" class="btn btn-default">确定</button>
             </div>
             </form>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->

<div class="modal fade" id="role_eidt" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
          </div>
       </div>
    </div>

{% endblock %}
{% block js %}

<script type="text/javascript" src="/static/js/jstree.min.js"></script>
<script type="text/javascript">
$('body').on('hidden.bs.modal', '.modal', function () {
$(this).removeData('bs.modal');
});
</script>
<script type="text/javascript">
$('#authtree').jstree({
    "checkbox": {
                  "keep_selected_style": false,
                   "visible" : true,
                   "three_state": true,
                   "whole_node" : true,
				    "tie_selection":true,
              },
			  "plugins": ["checkbox"],
			  'core':{
			  'data':[{{data_json|safe}}]
			  }		  
});

function get_authchecked()
{
        id_array=$('#authtree').jstree(true).get_checked(null,true);
        return id_array;
}

function submit_authchecked()
{
        $('#authchecked').attr("value", get_authchecked());
}
</script>
{% endblock %}