{% extends 'base.html' %}
{% block home %}
class="active"
{% endblock %}
{% block action_active %}in{% endblock %}
{% block body %}
<div class="row bg-box-shadow padding-10 panel panel-default">
	<div class="panel-heading margin-5">
        <h3 class="panel-title">客服提成系数管理</h3>
     </div>
	<div style="text-align:right; margin-bottom:10px;" id="addicon">
	<button class="btn btn-primary btn-lg" data-toggle="modal"
	   data-target="#user_add"><i class="glyphicon glyphicon-plus-sign"></i>设定客服提成系数</button>
	</div>
	<div>
	<table data-toggle="table"
		   data-query-params="queryParams"
		   data-page-list="[10, 20, 50, 100, 200]"
		   data-pagination="true"
		   data-search="true"
		   data-height="500">
			<thead>
			<th>客服名称</th>
			<th>提成系数</th>
			<th>操作</th>
			</thead>
		{% for i in cuts %}
		<tr>
			<td><a href="#" name="server" data-type="select" data-pk="{{ i.id }}" data-title="客服">{{ i.server.first_name}}</a></td>
			<td><a href="#" name="cut_percentage" data-type="text" data-pk="{{ i.id }}" data-title="输入提成系数">{{ i.cut_percentage }}</a></td>
			<td><a href="{% url 'get_server_cut_remove' %}?id={{ i.id }}" onclick= "return confirm('确定删除?');"><i class="glyphicon glyphicon-trash"></i>删除</a></td>
		</tr>
		{% endfor %}
		</table>
	</div>
</div>
<div class="modal fade" id="user_add" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
          <form action="{% url 'get_server_cut_add' %}" data-toggle="validator" method="post" enctype="multipart/form-data">
              {% csrf_token %}
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               添加客服提成系数
            </h4>
         </div>
         <div class="modal-body">
            <p><label class="col-md-3 text-align-right">客服账号:</label>{{ cut_form.server }}</p>
             <p><label class="col-md-3 text-align-right">提成系数:</label>{{ cut_form.cut_percentage }}</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal">关闭
            </button>
            <button type="submit" class="btn btn-primary">
               确定
            </button>
             </div>
             </form>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->

{% endblock %}
{% block js %}
<script type="text/javascript">
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>
<script type="text/javascript">
    $('.modal-body input').prop('required',true);

</script>
<script type="text/javascript">
$('body').on('hidden.bs.modal', '.modal', function () {
$(this).removeData('bs.modal');
});
</script>
<script type="text/javascript">
$(document).ready(function() {
    $.fn.editable.defaults.mode = 'popup';
    var server1=$("td [name='server']").attr("name");
    $("td [name='server']").editable({
    name:server1,
    url:"{% url 'get_server_cut_edit' %}",
    source: [
        {% for i in user_list %}
              {value: '{{i.first_name}}', text: '{{i.first_name}}'},
              {% endfor %}
           ],
	validate: function(value) {
  if($.trim(value) == '')
    return '选择的客服不能为空';}
    }
    );
    
    var cut_percentage1=$("td [name='cut_percentage']").attr("name");
    $("td [name='cut_percentage']").editable({
    name:cut_percentage1,
    url:"{% url 'get_server_cut_edit' %}",
	//var numregg=/^[0-9]+([.]{1}[0-9]{1,2})?$/;||numregg.test(value)
	validate: function(value) {
 
	if($.trim(value)<1&&$.trim(value)>0.009&&!isNaN(value)){
		
	}else{
		return '输入正确的提成系数';
	}
	}
    }
    );
    
    
})
</script>
{% endblock %}